.title{
    color: blue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    display: flex;
    flex-direction: row
}
.child{
    width: auto;
    height: 400px; 
    
    
}
.price1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 70px;

}
.total price{

}
    
    





